[submodule ".config/spicetify/Themes"]
	path = .config/spicetify/Themes
	url = git@github.com:lukewhrit/spicetify-themes.git
[submodule ".tmux/plugins/tmux-sensible"]
	path = .tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".config/spicetify/CustomApps/genius"]
	path = .config/spicetify/CustomApps/genius
	url = https://github.com/khanhas/genius-spicetify
[submodule ".config/zsh/plugins/zsh-completions"]
	path = .config/zsh/plugins/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
